@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Colors */
  --primary-500: #e3e6f3;
  --body-dark: #141414;
  --transition: transition: 0.3s ease;

  /*shadow*/
  --shadow: 0 5px 15px rgba(0,0,0,0.06);
  --shadow-sm: 20px 20px 34px rgba(0,0,0,0.03);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  background: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}
body {
  width: 100%;
}
svg#shopping-bag {
    width: 50px;
    height: auto;
}
/* header */

.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 80px;
 background-color: var(--primary-500);
 box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
 z-index: 999;
 position: sticky;
 top: 0;
 left: 0;
}
.header .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar-nav li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.header .navbar-nav .nav-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--body-dark);
  transition: var( --transition);

}
.header .navbar-nav .nav-item:hover,
.header .navbar-nav .nav-item.active {
  color: #088178;
}

.header .navbar-nav .nav-item.active::after,
.header .navbar-nav .nav-item:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

/* Home Page */
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover; 
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* feature */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: var(--shadow-sm);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background: #fff2e5;
}
#product1 h2,
#product1 p {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0, 0.2);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .price {
  display: flex;
  justify-content: space-between;
}
#product1 .pro .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  transition: 0.2s ease;
}
#product1 .pro .cart i {
 color: #088178;
}
#product1 .pro:hover .price .cart,
#product1 .pro:hover .price .cart i{
  background:rgb(243,181,25);
  color: white;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}

#banner h4,
#banner h2 {
  color: #fff;
}
#banner h4 {
  font-size: 16px;
  padding: 10px 0;
}
#banner h2 {
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner:hover {
  background: #088178;
  color: #fff;
}
