@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
  /* Colors */
  --primary-500: #e3e6f3;
  --body-dark: #141414;
  --transition: transition: 0.3s ease;

  /*shadow*/
  --shadow: 0 5px 15px rgba(0,0,0,0.06);
  --shadow-sm: 20px 20px 34px rgba(0,0,0,0.03);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  background: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s ease;
}
button.white {
  color: white;
  font-size: 14px;
  font-weight: 600;
  padding: 11px 18px;
  background: transparent;
  cursor: pointer;
  border: 1px solid white;
  outline: none;
  transition: 0.2s ease;
}
body {
  width: 100%;
}
svg#shopping-bag {
    width: 50px;
    height: auto;
}
/* header */
/* normal header */
.header {
    width: 100%;
    position: relative;
    transition: all .3s ease;
    z-index: 1000;
}


.header {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 20px 80px;
 background-color: var(--primary-500);
 box-shadow: 0 5px 15px rgba(0,0,0, 0.06);
 width: 100%;
 position: relative;
 transition: all .3s ease;
 z-index: 1000;
}
.header .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .navbar-nav li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
.header .navbar-nav .nav-item {
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--body-dark);
  transition: var( --transition);

}
#close {
  display: none;
}
.header .navbar-nav .nav-item:hover,
.header .navbar-nav .nav-item.active {
  color: #088178;
}

.header .navbar-nav .nav-item.active::after,
.header .navbar-nav .nav-item:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
/* sticky activated */
.header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color:var(--primary-500); /* optional: ensures visibility */
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.header.sticky + * {
    padding-top: 80px; /* height of your header */
}
#mobile { 
  display: none;
}
/* Home Page */
#hero {
  background-image: url("img/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover; 
  background-position: top 35% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
}
#hero h1 {
  color: #088178;
}
#hero button {
  background: url("img/button.png");
  background-color: transparent;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}

/* feature */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: var(--shadow-sm);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;

}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}
#feature .fe-box h6 {
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
  background: #cdebbc;
}
#feature .fe-box:nth-child(3) h6 {
  background: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
  background: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6 {
  background: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6 {
  background: #fff2e5;
}
#product1 h2,
#product1 p {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  margin: 15px 0;
  transition: 0.2s ease;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0,0,0, 0.2);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .des {
  text-align: start;
}

#product1 .pro .des span {
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i {
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .price {
  display: flex;
  justify-content: space-between;
}
#product1 .pro .cart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  transition: 0.2s ease;
}
#product1 .pro .cart i {
 color: #088178;
}
#product1 .pro:hover .price .cart,
#product1 .pro:hover .price .cart i{
  background:rgb(243,181,25);
  color: white;
}

#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("img/banner/b2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}

#banner h4,
#banner h2 {
  color: #fff;
}
#banner h4 {
  font-size: 16px;
  padding: 10px 0;
}
#banner h2 {
  font-size: 30px;
  padding: 10px 0;
}
#banner h2 span {
  color: #ef3636;
}
#banner:hover button.normal {
  background: #088178;
  color: #fff;
}
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  background-image: url("img/banner/b17.jpg");
  min-width: 560px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
}
#sm-banner h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
}
#sm-banner h2 {
  color: #fff;
  font-size: 38px;
  font-weight: 800;
}
#sm-banner span {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
  background: #088178;
  border: 1px solid #088178;
}

#sm-banner .banner-box2 {
  background-image: url("img/banner/b10.jpg");
}
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(img/banner/b7.jpg);
  min-width: 30%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  margin-bottom: 20px;
}
#banner3 .banner-box:nth-child(2) {
  background-image: url(img/banner/b4.jpg);
}
#banner3 .banner-box:nth-child(3) {
  background-image: url(img/banner/b18.jpg);
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 22px;
}
#banner3 h3 {
  color: #fff;
  font-weight: 800;
  font-size: 15px;
}
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background: #041e42;
}
#newsletter h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}
#newsletter p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter input {
  height: 3.125rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-top-right-radius:0;
  border-bottom-right-radius:0;
}
#newsletter button {
  background-color: #088178;
  color: white;
  white-space: nowrap;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 14px;
  padding-bottom: 20px;
}
footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a {
  font-size: 13px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}
footer .follow {
  margin-top: 20px;
}
footer .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 8px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
}
footer .copyright {
  width: 100%;
  text-align: center;
}

/* MEDIA QUERIES */
@media (max-width: 1060px) {
  #feature {
    justify-content: flex-start;
    gap: 25px;
  }
}
@media (max-width: 910px) {
 #product1 .pro-container {
        justify-content: center;
        gap: 25px;
    }
}

@media (max-width: 799px) {
  #feature {
    justify-content: center;
  }
  #feature .fe-box {
    margin: 15px 15px;
  }
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: var(--shadow-sm);
    padding: 80px 0 0 10px;
    transition: 0.3s ease;
  }
  #navbar li {
    margin-bottom: 1.5rem;
  }
  #navbar.active {
    right: 0px;
  }
  #close {
    display: block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #mobile { 
  display: flex;
  align-items: center;
}
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #lg-bag {
    display: none;
  }

  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  .section-p1 {
    padding: 40px 40px;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  #banner {
    height: 25vh;
    
  }

  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
}
#banner3 {
  padding: 0 40px;
}
#banner3 .banner-box {
  width: 30%;
}
#banner3 h2 {
    line-height: 30px;
}
#newsletter .form {

    width: 70%;
}
}

@media (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  #hero h1 {
    font-size: 38;
  }
  #hero h2 {
    font-size: 32;
  }
  #feature .fe-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
    padding-left: .75rem;
    padding-right: .75rem;
}

#banner3 {
    padding: 0 20px;
}
#banner3 .banner-box {
    width: 100%;
}
}


